body{

background-image: url("https://static-media.hotmart.com/GG3kIAZO22FVhx8IdSxFPCRZj5E=/filters:background_color(white)/hotmart/product_pictures/bbd008ab-beac-4cf0-8bcb-72bf25b8289f/marmitafitcongelada40.jpg");
background-repeat: no-repeat;
background-position-x: center;
width: 	5px;
height: 5px;
background-position-y: top;
background-color: sienna;
}
