body{

background-image: url("https://static-media.hotmart.com/GG3kIAZO22FVhx8IdSxFPCRZj5E=/filters:background_color(white)/hotmart/product_pictures/bbd008ab-beac-4cf0-8bcb-72bf25b8289f/marmitafitcongelada40.jpg");
background-repeat: no-repeat;
background-position-x: center;
width: 	10px;
height: 10px;
background-position-y: top;
background-color: sienna;
}

  /*Loop Neon*/
.title_loop {

  width:67px;
  height:auto;
  text-align: center;

}

.title_loop .title {

    font-family: 'open_sansregular';
    font-size: 6em;
    color: #fff;
    text-shadow: 0 -50px 100px, 0 0 2px, 0 0 1em #00afb3, 0 0 0.5em #008d93, 0 0 0.1em #00abff, 0 10px 5px #000;
}
.title_loop .title span{

  animation: blink linear infinite 2s;
  font-weight: bold;
  font-family: 'open_sansbold';

}
.title_loop .title span:nth-of-type(2){
  animation: blink linear infinite 4s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #242424;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #242424;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #242424;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
/*Loop Neon*/


  
}
